<form #frmProduct="ngForm">
    <div class="mb-3">
        <label class="form-label">Ürün Adı</label>
        <input #name="ngModel" [(ngModel)]="model.name" name="name" type="text" class="form-control" required>
        <div *ngIf="name.invalid && name.dirty" class="form-text text-danger">Ürün adı zorunludur</div>
    </div>


    <div class="mb-3">
        <label class="form-label">Kategori</label>
        <select class="form-select" [(ngModel)]="model.categoryId" name="categoryId">
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Ürün Fiyatı</label>
        <input #unitPrice="ngModel" [(ngModel)]="model.unitPrice" name="unitPrice" type="number" class="form-control"
            required>
        <div *ngIf="unitPrice.invalid && unitPrice.dirty" class="form-text text-danger">Ürün fiyatı zorunludur</div>
    </div>
    <div class="mb-3">
        <label class="form-label">Stok Miktarı</label>
        <input #unitsInStock="ngModel" [(ngModel)]="model.unitsInStock" name="unitsInStock" type="number"
            class="form-control" required>
        <div *ngIf="unitsInStock.invalid && unitsInStock.dirty" class="form-text text-danger">Stok miktarı zorunludur
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Açıklama</label>
        <textarea #quantityPerUnit="ngModel" rows="3" [(ngModel)]="model.description" name="quantityPerUnit"
            class="form-control" required>
        </textarea>
        <div *ngIf="quantityPerUnit.invalid && quantityPerUnit.dirty" class="form-text text-danger">Açıklama zorunludur
        </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="frmProduct.invalid" (click)="save()">Submit</button>
</form>