<form #frmProduct="ngForm">
    <div class="mb-3">
        <label class="form-label">Product Name</label>
        <input #name="ngModel" [(ngModel)]="model.name" name="name" type="text" class="form-control" required>
        <div *ngIf="name.invalid && name.dirty" class="form-text text-danger">Product name is required.</div>
    </div>

    <div class="mb-3">
        <label class="form-label">Category</label>
        <select class="form-select" [(ngModel)]="model.categoryId" name="categoryId">
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Price</label>
        <input #unitPrice="ngModel" [(ngModel)]="model.unitPrice" name="unitPrice" type="number" class="form-control"
            required>
        <div *ngIf="unitPrice.invalid && unitPrice.dirty" class="form-text text-danger">Product price is required.</div>
    </div>
    <div class="mb-3">
        <label class="form-label">Stock</label>
        <input #unitsInStock="ngModel" [(ngModel)]="model.unitsInStock" name="unitsInStock" type="number"
            class="form-control" required>
        <div *ngIf="unitsInStock.invalid && unitsInStock.dirty" class="form-text text-danger">Units in stock is
            required.</div>
    </div>
    <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea #quantityPerUnit="ngModel" rpws="3" [(ngModel)]="model.description" name="quantityPerUnit"
            class="form-control" required></textarea>
        <div *ngIf="quantityPerUnit.invalid && quantityPerUnit.dirty" class="form-text text-danger">Description is
            required.</div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="frmProduct.invalid" (click)="save()">Submit</button>
</form>